header {
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

footer {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

ul {
    list-style: none;
    a {
        text-decoration: none;
        color: red;
    }
}